/* Your Styles */
p{
    font-family: Helvetica, sans-serif;
    display: block;
    font-size: 1em;
}

    h1{
        font-family: Satoshi, sans-serif;
    font-size: 2em;
    }
h2{
    font-family: Satoshi, sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #4f76d9;
}

/* Print Styling */
@media print {
    

}