/* Your Styles */
p{
    font-family: Helvetica, sans-serif;
    display: block;
    font-size: 1em;
}

    h1{
        font-family: Satoshi, sans-serif;
    font-size: 2em;
    }

/* Print Styling */
@media print {
    

}